@charset "gb2312";
/* CSS Document */
* {margin:0;padding:0;border:0;}
html {text-size-adjust:100%;}
body {max-width:768px;min-width:320px;width:100%;margin:0 auto;padding:0;font-size:1em;line-height:1.5em;font-family:simhei,'Microsoft Yahei',simsun,Arial,'Heiti SC',sans-serif;background-color:#FFF;}
.left {float:left;}
.right {float:righr;}
h1,h2,h3 {font-weight:normal;}
ul {list-style:none;}
a {text-decoration:none;color:#000;transition:color 0.3s ease 0s;}
/*header_begin*/
header {padding:25.7vw 0 0;background:url("banner2017M.jpg") center top no-repeat;background-size:100% auto;}
header nav {display:flex;flex-wrap:nowrap;justify-content:space-around;padding:1.75% 0 1.85%;font-size:2.875rem;font-weight:bold;line-height:1em;text-align:center;background:url("http://www.gwytb.gov.cn/images/titBg2017M.gif") left center repeat-x;background-size:auto 100%;}
header nav a {flex-grow:1;}
header nav a:nth-of-type(2) {background:url("http://www.gwytb.gov.cn/images/navBg2017M.png") left center no-repeat,url("http://www.gwytb.gov.cn/images/navBg2017M.png") right center no-repeat;background-size:auto 100%;}
header nav a:nth-of-type(3) {background:url("http://www.gwytb.gov.cn/images/navBg2017M.png") right center no-repeat;background-size:auto 100%;}
/*header_end*/
/*main_begin*/
/*breadCrumbs_begin*/
div#breadCrumbs {width:94.7%;margin:0 auto 2.0834%;padding:0.7em 0;font-size:4.6vw;line-height:1.5em;color:#0037c1;background:url("http://www.gwytb.gov.cn/images/breadCrumbsBg2017M.gif") left bottom repeat-x;background-size:auto 2.7%;}
div#breadCrumbs a {color:#0037c1;}
/*breadCrumbs_end*/
/*main_end*/
/*翻页页码_begin*/
div#main div#pageNumber {overflow: hidden;zoom:1;margin:0 auto;padding:2.77% 0 0;text-align:center;background:#FFF url("http://www.gwytb.gov.cn/images/breadCrumbsBg2017M.gif") left top repeat-x;background-size:auto 2.45%;overflow-wrap:break-word;}
div#main div#pageNumber .vc{margin: 0 auto;}
div#main div#pageNumber span,div#main div#pageNumber font,div#main div#pageNumber a {display:inline-block;font-size:4.6vw;line-height:2em;color:#666;  }
div#main div#pageNumber .fb span{display:inline-block;}
div#main div#pageNumber font {border:1px solid #0037c1;display:inline-block;}
div#main div#pageNumber a {border:1px solid #d8d7d7;}
div#main div#pageNumber font,div#main div#pageNumber a {margin:0 2px 10px;padding:0 0.8em;border-radius:5px;}
div#main div#pageNumber .fb span{margin:0 2px 10px;}
div#main div#pageNumber font {color:#FFF;background:#0037c1;}
div#main div#pageNumber a {background:#FFF;}
/*翻页页码_end*/
/*footer_begin*/
footer {margin:0 auto 3.2%;padding:3% 0 1.8%;font-size:3.7vw;line-height:1.5em;background:url("http://www.gwytb.gov.cn/images/footerBgTop2017M.png") center top no-repeat,url("http://www.gwytb.gov.cn/images/footerBgBottom2017M.png") center bottom no-repeat;background-size:100% auto,91.1% auto;}
footer>a {display:block;width:19.5%;margin:0 auto;}
footer>a img {display:block;max-width:100%;}
footer>p {text-align:center;}
/*footer_end*/
/*********************************    依尺寸缩放    *********************************/
@media screen and (max-width:1920px){
/*header_begin*/
header {padding: 201.3px 0 0 0;}
header nav {font-size:2rem;}
/*header_end*/
/*breadCrumbs_begin*/
div#breadCrumbs {font-size:2.1875rem;}
/*breadCrumbs_end*/
/*main_begin*/
/*main_end*/
/*pageNumber_begin*/
div#main div#pageNumber span,div#main div#pageNumber font,div#main div#pageNumber a {font-size:2.1875rem;}
/*pageNumber_end*/
/*footer_begin*/
footer {font-size:1.775rem;}
/*footer_end*/
}
@media screen and (max-width:960px){
/*翻页页码_begin*/
div#main div#pageNumber font,div#main div#pageNumber a {margin:0 2px 10px;}
/*翻页页码_end*/
}
@media screen and (max-width:768px){
/*header_begin*/
header {padding: 26.7vw 0 0;}
header nav {font-size:4vw;}
/*header_end*/
/*breadCrumbs_begin*/
div#breadCrumbs {font-size:4.6vw;}
/*breadCrumbs_end*/
/*main_begin*/
/*main_end*/
/*pageNumber_begin*/
div#main div#pageNumber span,div#main div#pageNumber font,div#main div#pageNumber a {font-size:4.6vw;}
/*pageNumber_end*/
/*footer_begin*/
footer {font-size:3.7vw;}
/*footer_end*/
}
@media screen and (max-width:500px){
/*main*/
/*main*/
}
@media screen and (max-width:400px){
/*header_begin*/
header nav {font-size:1rem;}
/*header_end*/
/*breadCrumbs_begin*/
div#breadCrumbs {font-size:0.9375rem;}
/*breadCrumbs_end*/
/*footer_begin*/
footer {font-size:0.925rem;}
/*footer_end*/
}
@media screen and (max-width:370px){
    /*header_begin*/
    header nav {font-size:12px;}
    /*header_end*/
    }
@media screen and (max-width:320px){
/*header_begin*/
header {padding: 84.24px 0 0 0;}
/*header_end*/
}

