/* CSS Document */
/*video_part_begin*/
div#main div#contentArea div.video div,div#main div#contentArea div.videoM div,div#main div#contentArea div.audio div,div#main div#contentArea div.video,div#main div#contentArea div.videoM,div#main div#contentArea div.audio {padding:0;color:#FFF;}
div#main div#contentArea video[class=""] {display:none;}
div#main div#contentArea div.video {display:table;margin:0 auto 10px;font-size:16px;}
div#main div#contentArea div.video video.screen {display:block;max-width:100%;width:100%;height:auto;margin:0 auto;cursor:pointer;}
div#main div#contentArea div.video video.screen::after {position:absolute;left:0;top:0;content:"";display:block;width:100%;height:100%;background:#FFF;}
div#main div#contentArea div.video.playing video.screen::after {display:none;}
div#main div#contentArea div.video>div {position:relative;padding:5px 5px 0;background:#000;}
div#main div#contentArea div.video>div::after {position:absolute;left:0;top:0;content:"";display:block;width:100%;height:calc(100% - 46px);cursor:pointer;background:rgba(0,0,0,0.2) url("http://ats.taiwan.cn/homepage2017/images/videoPoster.png") center center no-repeat;z-index:2147483619;}
div#main div#contentArea div.video:hover>div::after {background-color:transparent;}
div#main div#contentArea div.video.playing>div::after {display:none;}
div#main div#contentArea div.video>div>div.ctrlPanel {width:100%;height:auto;color:#FFF;background:#000;}
div#main div#contentArea div.video>div>div.ctrlPanel>div {position:relative;display:inline-block;vertical-align:middle;}
div#main div#contentArea div.video>div>div.ctrlPanel div.playCtrl {width:40px;height:40px;cursor:pointer;background: url("http://ats.taiwan.cn/homepage2017/images/playBtnBg.png") center 125% no-repeat;background-size:60% auto;}
div#main div#contentArea div.video>div>div.ctrlPanel div.playCtrl.playing {background-position:center -25%;}
/*margin-left_begin*/
/*margin-left_end*/
div#main div#contentArea div.video>div>div.ctrlPanel div.volumeZone {position:relative;width:95px;height:40px;margin:0 0 0 25px;cursor:pointer;}
div#main div#contentArea div.video>div>div.ctrlPanel div.volumeZone::after {position:absolute;left:0;top:50%;content:"";display:block;width:100%;height:6px;margin:-3px 0 0;border-radius:3px;background:#FFF;z-index:2147483619;}
div#main div#contentArea div.video>div>div.ctrlPanel div.volumeZone div.ctrlBar {position:absolute;top:50%;width:0px;height:6px;margin:-3px auto 0;border-radius:3px;cursor:pointer;background:#0d4a80;z-index:2147483620;}
div#main div#contentArea div.video>div>div.ctrlPanel div.volumeZone div.ctrlBar:after {position:absolute;right:-6px;bottom:-3px;content:"";width:10px;height:10px;border:1px solid #0d4a80;border-radius:50%;background:#FFF;}
div#main div#contentArea div.video>div>div.ctrlPanel div.volumeZone div.muteBtn {position:absolute;left: -20px;width: 20px;height: 100%;background:url("http://ats.taiwan.cn/homepage2017/images/volumeBg.png") left center no-repeat;background-size:20px auto;background-position:left -35%;}
div#main div#contentArea div.video>div>div.ctrlPanel div.volumeZone div.muteBtn.muted {background-position:left 134%;}
div#main div#contentArea div.video>div>div.ctrlPanel div.progressBar {position:relative;display:block;width:100%;height:6px;border-radius:3px;font-size:1rem;text-align:left;cursor:pointer;background:#FFF;}
div#main div#contentArea div.video>div>div.ctrlPanel div.progressBar div.pgCtrlBar {position:relative;width:0px;height:100%;cursor:pointer;background:#0d4a80;}
div#main div#contentArea div.video>div>div.ctrlPanel div.progressBar div.pgCtrlBar:after {position:absolute;right:-6px;bottom:-3px;content:"";width:10px;height:10px;border:1px solid #0d4a80;border-radius:50%;background:#FFF;z-index:2147483620;}
div#main div#contentArea div.video>div>div.ctrlPanel div.clarity {width:3em;height:1.5em;line-height:1.5em;font-size:1rem;text-align:center;}
div#main div#contentArea div.video>div>div.ctrlPanel div.clarity>ul {display:none;font-size:1rem;background:#000;}
div#main div#contentArea div.video>div>div.ctrlPanel div.clarity:hover>ul {position:relative;display:block;z-index:2147483620;}
div#main div#contentArea div.video>div>div.ctrlPanel div.clarity>ul>li,div#main div#contentArea div.video>div>div.ctrlPanel div.clarity>div {cursor:pointer;}
div#main div#contentArea div.video>div>div.ctrlPanel div.clarity>ul>li {margin:-3em auto 0;background:#000;}
div#main div#contentArea div.video>div>div.ctrlPanel div.durationZone {width:135px;height:100%;line-height:100%;text-align:center;color:#FFF;}
/*mobile_begin*/
div#main div#contentArea div.videoM {display:table;margin:0 auto 10px;font-size:16px;}
div#main div#contentArea div.videoM video.screen {display:block;max-width:100%;width:100%;height:auto;margin:0 auto;cursor:pointer;}
div#main div#contentArea div.videoM video.screen::after {position:absolute;left:0;top:0;content:"";display:block;width:100%;height:100%;background:#FFF;}
div#main div#contentArea div.videoM.playing video.screen::after {display:none;}
div#main div#contentArea div.videoM>div {position:relative;padding:5px 5px 0;background:#000;}
div#main div#contentArea div.videoM>div::after {position:absolute;left:0;top:0;content:"";display:block;width:100%;height:calc(100% - 46px);cursor:pointer;background:rgba(0,0,0,0.2) url("http://ats.taiwan.cn/homepage2017/images/videoPoster.png") center center no-repeat;z-index:2147483619;}
div#main div#contentArea div.videoM:hover>div::after {background-color:transparent;}
div#main div#contentArea div.videoM.playing>div::after {display:none;}
div#main div#contentArea div.videoM>div>div.ctrlPanel {width:100%;height:auto;color:#FFF;background:#000;}
div#main div#contentArea div.videoM>div>div.ctrlPanel>div {position:relative;display:inline-block;vertical-align:middle;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.playCtrl {width:40px;height:40px;cursor:pointer;background: url("http://ats.taiwan.cn/homepage2017/images/playBtnBg.png") center 125% no-repeat;background-size:60% auto;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.playCtrl.playing {background-position:center -25%;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.volumeZone {position:relative;width:95px;height:40px;margin:0 0 0 25px;cursor:pointer;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.volumeZone::after {position:absolute;left:0;top:50%;content:"";display:block;width:100%;height:6px;margin:-3px 0 0;border-radius:3px;background:#FFF;z-index:2147483619;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.volumeZone div.ctrlBar {position:absolute;top:50%;width:0px;height:6px;margin:-3px auto 0;border-radius:3px;cursor:pointer;background:#0d4a80;z-index:2147483620;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.volumeZone div.ctrlBar:after {position:absolute;right:-6px;bottom:-3px;content:"";width:10px;height:10px;border:1px solid #0d4a80;border-radius:50%;background:#FFF;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.volumeZone div.muteBtn {position:absolute;left: -20px;width: 20px;height: 100%;background:url("http://ats.taiwan.cn/homepage2017/images/volumeBg.png") left center no-repeat;background-size:20px auto;background-position:left -35%;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.volumeZone div.muteBtn.muted {background-position:left 134%;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.progressBar {position:relative;display:block;width:100%;height:6px;border-radius:3px;font-size:1rem;text-align:left;cursor:pointer;background:#FFF;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.progressBar div.pgCtrlBar {position:relative;width:0px;height:100%;cursor:pointer;background:#0d4a80;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.progressBar div.pgCtrlBar:after {position:absolute;right:-6px;bottom:-3px;content:"";width:10px;height:10px;border:1px solid #0d4a80;border-radius:50%;background:#FFF;z-index:2147483620;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity {width:3em;height:1.5em;line-height:1.5em;font-size:1rem;text-align:center;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity>ul {display:none;font-size:1rem;background:#000;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity:hover>ul {position:relative;display:block;z-index:2147483620;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity>ul>li,div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity>div {cursor:pointer;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity>ul>li {margin:-3em auto 0;background:#000;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.durationZone {width:135px;height:100%;line-height:100%;text-align:center;color:#FFF;}
/*mobile_end*/
/*video_part_end*/
/*audio_part_begin*/
div#main audio[class=""] {display:none;}
div#main div#contentArea div.audio {display:block;max-width:310px;margin:0 auto 10px;font-size:16px;}
div#main div#contentArea div.audio audio.screen {display:block;max-width:100%;width:100%;margin:0 auto;}
div#main div#contentArea div.audio>div {position:relative;padding:3px 5px;background:#000;}
div#main div#contentArea div.audio audio.screen {display:none;}
div#main div#contentArea div.audio:hover>div::after {background-color:transparent;}
div#main div#contentArea div.audio.playing>div::after {display:none;}
div#main div#contentArea div.audio>div>div.ctrlPanel {width:100%;height:auto;color:#FFF;background:#000;}
div#main div#contentArea div.audio>div>div.ctrlPanel>div {position:relative;display:inline-block;vertical-align:middle;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.playCtrl {width:40px;height:40px;cursor:pointer;background: url("http://ats.taiwan.cn/homepage2017/images/playBtnBg.png") center 125% no-repeat;background-size:60% auto;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.playCtrl.playing {background-position:center -25%;}
/*margin-left_begin*/
/*margin-left_end*/
div#main div#contentArea div.audio>div>div.ctrlPanel div.volumeZone {position:relative;width:80px;height:40px;margin:0 0 0 25px;cursor:pointer;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.volumeZone::after {position:absolute;left:0;top:50%;content:"";display:block;width:100%;height:6px;margin:-3px 0 0;border-radius:3px;background:#FFF;z-index:2147483619;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.volumeZone div.ctrlBar {position:absolute;top:50%;width:0px;height:6px;margin:-3px auto 0;border-radius:3px;cursor:pointer;background:#0d4a80;z-index:2147483620;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.volumeZone div.ctrlBar:after {position:absolute;right:-6px;bottom:-3px;content:"";display:block;width:10px;height:10px;border:1px solid #0d4a80;border-radius:50%;background:#FFF;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.volumeZone div.muteBtn {position:absolute;left:-20px;width:20px;height:100%;background:#000 url("http://ats.taiwan.cn/homepage2017/images/volumeBg.png") left center no-repeat;background-size:20px auto;background-position:left -35%;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.volumeZone div.muteBtn.muted {background-position:left 134%;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.progressBar {position:relative;display:block;width:100%;height:6px;font-size:1rem;text-align:left;cursor:pointer;background:#CCC;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.progressBar div.pgCtrlBar {position:relative;width:0px;height:100%;cursor:pointer;background:#0d4a80;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.progressBar div.pgCtrlBar:after {position:absolute;right:-6px;bottom:-3px;content:"";width:10px;height:10px;border:1px solid #0d4a80;border-radius:50%;background:#FFF;z-index:2147483620;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity {width:3em;height:1.5em;line-height:1.5em;font-size:1rem;text-align:center;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity>ul {display:none;font-size:1rem;background:#000;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity:hover>ul {position:relative;display:block;z-index:2147483620;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity>ul>li,div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity>div {cursor:pointer;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity>ul>li {margin:-3em auto 0;background:#000;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.durationZone {width:135px;height:100%;line-height:100%;text-align:center;color:#FFF;}
/*mobile_begin*/
/*mobile_end*/
/********************************     ????????¡¤?     ********************************/
@media screen and (max-width:1366px){
div#main {max-width:100%;}
div#main div#contentArea div.audio>div::after,div#main div#contentArea div.audioM>div::after {display:none;}
div#main div#contentArea div.audio audio.screen {display:block;}
div#main div#contentArea div.audio>div.mobile {background:none;}
}
@media screen and (max-width:1366px){
div#main div#contentArea div.audio>div>div.ctrlPanel {display:flex;flex-wrap:wrap;justify-content:space-around;align-items:center;}
div#main div#contentArea div.audio>div>div.ctrlPanel>div {order:2;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.progressBar {width:100%;order:1;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity,div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity>ul,div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity:hover>ul {display:flex;justify-content:space-around;width:auto;margin:0 0 0 auto;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity>ul>li {margin:0 1em;}
div#main div#contentArea div.audio>div>div.ctrlPanel div.clarity>div {margin:0 0 1px;padding:0 2px;border:1px solid #FFF;}
/*mobile_begin*/
/*mobile_end*/
}

/*audio_part_end*/
/********************************     ????????¡¤?     ********************************/
@media screen and (max-width:1366px){
div#main {max-width:100%;}
div#main div#contentArea div.video>div.mobile::after,div#main div#contentArea div.videoM>div.mobile::after {display:none;}
div#main div#contentArea div.video>div>div.ctrlPanel {display:flex;flex-wrap:wrap;justify-content:space-around;align-items:center;}
div#main div#contentArea div.video>div>div.ctrlPanel>div {order:2;}
div#main div#contentArea div.video>div>div.ctrlPanel div.progressBar {width:100%;order:1;}
div#main div#contentArea div.video>div>div.ctrlPanel div.clarity,div#main div#contentArea div.video>div>div.ctrlPanel div.clarity>ul,div#main div#contentArea div.video>div>div.ctrlPanel div.clarity:hover>ul {display:flex;justify-content:space-around;width:auto;margin:0 0 0 auto;}
div#main div#contentArea div.video>div>div.ctrlPanel div.clarity>ul>li {margin:0 1em;}
div#main div#contentArea div.video>div>div.ctrlPanel div.clarity>div {margin:0 0 1px;padding:0 2px;border:1px solid #FFF;}
/*mobile_begin*/
div#main div#contentArea div.videoM>div>div.ctrlPanel {display:flex;flex-wrap:wrap;justify-content:space-around;align-items:center;}
div#main div#contentArea div.videoM>div>div.ctrlPanel>div {order:2;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.progressBar {width:100%;order:1;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity,div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity>ul,div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity:hover>ul {display:flex;justify-content:space-around;width:auto;margin:0 0 0 auto;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity>ul>li {margin:0 1em;}
div#main div#contentArea div.videoM>div>div.ctrlPanel div.clarity>div {margin:0 0 1px;padding:0 2px;border:1px solid #FFF;}
/*mobile_end*/
}
@media screen and (max-width:406px){
div#main div#contentArea div.video>div::after,div#main div#contentArea div.videoM>div::after {height:calc(100% - 70px);}
}
